<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
  </head>
  <body>
    <!-- include berdasarkan file main-layouts -->
    <%- include('nav') %>

    <!--Layout Utama  -->
    <div class="container mx-auto text-center mt-16"><%- body %></div>

    <!-- Akhir dari Layout Utama -->
  </body>
</html>
