<div class ="flex max-w-5xl w-96 mx-auto justify-between">
  <% products.map((e)=>{ %>
    <div class=" bg-gray-400">
      <!-- <img src ="https://fastly.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U"/>
        <p> judul</p>
        <h2> Nama Store</h2> -->
        
        <p> <%= e.store %></p>
        <p>test</p>
        <button>Halaman detail</button>
  
  </div>
    <%  }) %>
    

</div>